* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
   overflow-x: hidden;
  
}

header {
  background-color: #222;
  padding:0px;
  margin: -5px;
}

main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("tokyo-ghoul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0px;
  height: 89.5vh;
}


.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #181616;
  height: 10vh;

}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 10px;
}

.logo img{
  margin-top: 9px;
  width: 200px;
  height: 100px;
}

.nav-list {
  font-size: 12.5px;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
    
.t1 {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 5%;
}
  

span {
  color: rgb(238, 194, 50);
}

.t2 {
  display: flex;
  justify-content: center;
  margin-top:-230px;
  font-size: 1.2rem;
  color: #ece5e5;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

span {
  color: rgb(173, 12, 12);
}

section {
  height: 130vh;
  
}

.t3 {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: rgb(173, 12, 12); 
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t3 h1{
  margin-top: 130px;
}

.fotos {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  
  gap: 20px; padding: 10px;
}

.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  padding: 30px; margin: 0 auto; 
}

.fotos div {
  padding: 10px; /* 10px de espaço interno em todos os lados */
  background-color: #f0f0f0; /* Opcional: cor de fundo para ver o espaço */
  border: 1px solid #ccc; /* Opcional: borda para destacar o contêiner */
}

/* Garante que a imagem se ajuste ao novo espaço */
.fotos div img {
  width: 0%;
  height: 0%;
  object-fit: cover;
  display: block;
}