* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: rgb(9, 10, 10);
}

header {
  padding:0px;
  margin: -5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #070707;
  height: 10vh;

}

.logo {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 10px;
}

.logo img{
  margin-top: 9px;
  width: 200px;
  height: 100px;
}

.nav-list {
  font-size: 12.5px;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color: rgb(173, 12, 12);
}
    

span {
  color: rgb(173, 12, 12);
}

main {
  height: 130vh;
  background-color: #000000;
}


.t2 {
  display: flex;
  justify-content: center;
  margin-top: 260px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.3rem;
  color: #ece5e5;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.t3 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.3rem;
  color: #ece5e5;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ajustar1 {
  padding-top: 65px;
}

.ajustar2 {
  display: flex;
  justify-content: center;
}

.ajustar3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://static.nexilia.it/mangaforever/2025/06/IMG_9510-scaled.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(116, 3, 3, 0.801);
  height: 120vh;
  width: 1200px;
}
